.container {
    padding: 10px;
    display: flex;
}

.herosectionbanner {
    display: flex;
    flex-direction: column;
    padding: 10px;
    flex-wrap: wrap;
}

.herosectiontext {
    display: flex;
    flex-direction: column;
    text-align: end;
    padding: 10px;
    flex-wrap: wrap;
    max-width: 600px;
}

@media (max-width: 600px) {
    .herosectiontext {
      display: none;
    }
}