html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;

  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
  color: #373b64;
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}